@media screen and (max-width: 1024px){
  body main {
    --padding-large: calc(120rem/16);
    --padding-small: calc(60rem/16);
    --default-padding: calc(80rem/16);
  }
}

@media screen and (max-width: 767px){
  body main {
    --padding-large: calc(100rem/16);
    --padding-small: calc(40rem/16);
    --default-padding: calc(60rem/16);
  }
}
